@use './helper-fontSizes' as fontSizes;

.arie-kombucha {
	// @include borderTest;
	text-align: center;
	padding: 1rem;

	&-wrapper {
		// @include borderTest;
	}
	&-header {
		margin-bottom: 1em;
	}

	> p {
		@include fontSizes.lg;
	}
}
