@use './helper-fontSizes' as fontSizes;

@keyframes slideAnimation {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-500px);
	}
	100% {
		transform: translateX(0);
	}
}

.authenticity {
	position: relative;
	&-big-corps {
		@include tertiaryBGColor;
		@include flex;
		margin-top: 2rem;

		&-container {
			@include flex;
			width: 100%;
			justify-content: space-between;
			padding: 3rem 2rem;
			animation: slideAnimation 40s linear infinite;
		}

		&__image-container {
			padding: 1rem;
			& > img {
				width: 8rem;
				padding: 0 1rem;
			}
		}
	}

	width: 100%;
	text-align: center;
	margin: 0 auto;
	margin-top: 6rem;

	&-header-container {
		@include flexFunc(column, center, center);
	}

	&-info-wrapper {
		margin-top: 6rem;
	}

	&-paragraph {
		padding: 1.2rem 0;
		@include fontSizes.lg;
	}

	&-icons {
		&-wrapper {
			@include flexFunc(column, space-between, center);
			margin: 2rem 0;
			padding: 1rem;
		}
		&-container {
			width: 80%;
			@include flexFunc(column, center, center);
			padding: 1.5rem 0;
			// @include borderTest;
		}
		margin-bottom: 1rem;
	}

	&-icon {
		&-wrapper {
			width: 7rem;

			> img {
				width: 100%;
			}
		}

		&-paragraph {
			padding: 1rem 0 0;
			@include fontSizes.lg;
		}
	}
}
