@use './helper-fontSizes' as fontSizes;

html {
	box-sizing: border-box;
	@include fontLato;
	color: #3d3d3d;
	font-size: 16px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
}

.container {
	@include flexFunc(row, center, center);
}

main,
div.container-wrapper {
	overflow: hidden;
}

//universal links reset
a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style-type: none;
}

button.primary-btn,
div.primary-btn__product-showcase {
	border: none;
	padding: 1.2rem 1rem;
	width: 12rem;
	text-align: center;
	background-color: $secondaryColor;
	color: #ffffff;
	letter-spacing: 2px;
	font-weight: bold;
	margin: 1rem 0;
	cursor: pointer;
	font-size: 0.8rem;
	box-sizing: content-box;
	transition: background-color 0.4s ease-in-out;

	&:hover {
		background-color: #312d51;
		box-shadow: 0px 5px 10px 1px rgb(158, 156, 156);
	}
	&:active {
		box-shadow: 0px 1px 1px 1px rgb(158, 156, 156);
	}
}

//common h1 color for most

h1:not(.hero-banner-content__header) {
	@include secondaryColor;
	@include fontKodchasan;
	// font-size: 2rem;
}

//common navigation bar for sliders

.chevron-container,
.chevron-container-popular {
	// padding: 1rem;
	text-align: center;
	cursor: pointer;
	i.fas.fa-chevron-left,
	i.fas.fa-chevron-right {
		padding: 0.6rem 1.2rem;
		font-size: 1.2rem;
		color: silver;
		border-radius: 50%;
		margin: 0 1rem;
		// font-size: 1.8rem;
		@include fontSizes.xl3;
		@include transition(0.3s);
	}
	i.fas.fa-chevron-left:hover,
	i.fas.fa-chevron-right:hover {
		background-color: $secondaryColor;
		color: white;
	}
}

.chevronActive {
	background-color: rgb(39, 39, 39);
}
