@use './helper-fontSizes' as fontSizes;
@use './helper-breakpoints.scss' as breakpoint;

.hero-banner {
	@include breakpoint.respond-to(lg-mobile) {
		&-img {
			&-container {
				width: 100%;
			}

			&-wrapper {
				opacity: 0.8;
				width: 100%;
			}
		}

		&-content {
			position: absolute;
			right: 6%;
		}
	}

	@include breakpoint.respond-to(sm-tablet) {
		&-content {
			width: 56%;
		}
		&-img {
			&-wrapper {
				left: -18rem;
				> img {
					width: 46rem;
				}
			}
		}
	}

	@include breakpoint.respond-to(lg-tablet) {
		&-content {
			width: 30rem;
		}
		&-img {
			&-wrapper {
				left: -36vw;

				> img {
					width: 50rem;
				}
			}
		}
	}

	@include breakpoint.respond-to(lg-tablet-XL) {
		&-content {
			right: 12vw;
			position: relative;
			&-mini-header {
				font-size: large;
			}

			&-headers {
				> h1 {
					@include fontSizes.xl5;
				}
				> h2 {
					@include fontSizes.xl4;
				}
			}
		}
		&-img {
			&-container {
				width: 50rem;
			}
			&-wrapper {
				left: -15rem;
				opacity: 0.9;
				> img {
					width: 100%;
				}
			}
		}
	}

	@include breakpoint.respond-to(sm-desktop) {
		margin-top: 2rem;
		height: 100vh;
		align-items: center;
		&-content {
			width: 48vw;
			padding: 0;
			height: 90%;
			@include flexFunc(null, center, center);
			position: static;
			margin: 0;
			&-wrapper {
				height: 100%;
			}
			&-mini-headers {
				@include fontSizes.xl;
				margin-bottom: 0.8rem;
			}

			&-headers {
				align-items: flex-start;
				line-height: 1.8rem;
				> h1 {
					@include fontSizes.xl7;
					margin-bottom: 0.4rem;
				}
				> h2 {
					@include fontSizes.xl5;
				}
			}

			&-paragraph {
				margin: 2rem 0;

				@include fontSizes.lg;
				text-align: left;
				width: 80%;
			}
			&-actions-container {
				align-items: flex-start;
			}

			&__product-category {
				width: 80%;
				&__content {
					&-header {
						//
					}

					&-text {
						@include fontSizes.lg;
					}
				}
			}
		}
		&-img {
			&-container {
				width: 46vw;
				height: 100%;
			}
			&-wrapper {
				position: static;
				height: 100%;
				> img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}

	@include breakpoint.respond-to(md-desktop) {
		&-img {
			&-container {
				width: 40vw;
			}
		}
	}

	@include breakpoint.respond-to(lg-desktop) {
		main.container {
			@include flexFunc(row, center, center);
		}
		div.container-wrapper {
			width: 80%;
		}
		&-content {
			width: 48vw;
			padding: 0;
			height: 90%;
			@include flexFunc(null, center, center);
			position: static;
			margin: 0;
			&-wrapper {
				// width: 70%;
				height: 100%;
			}
			&-mini-headers {
				@include fontSizes.xl;
				margin-bottom: 0.8rem;
			}

			&-paragraph {
				@include fontSizes.xl;
			}

			&__product-category {
				width: 80%;
				&__content {
					&-header {
						//
					}

					&-text {
						@include fontSizes.lg;
					}
				}
			}
		}
		&-img {
			&-container {
				width: 40vw;
			}
		}
	}
}

.authenticity {
	@include breakpoint.respond-to(sm-tablet) {
		&-big-corps__image-container > img {
			width: 10rem;
		}
	}

	@include breakpoint.respond-to(sm-tablet) {
		&-big-corps {
			&-container {
				animation: none;
			}
		}
	}
}

// .product-showcase {
// 	@media screen and (max-width: 1100px) {
// 		&-vdo__play-btn {
// 			padding: 4vw;
// 		}
// 	}
// 	@media screen and (max-width: 1000px) {
// 		&-vdo {
// 			left: -5vw;
// 		}
// 		&-vdo,
// 		&-vdo-peach {
// 			top: 3em;
// 		}

// 		&-container {
// 			height: 70vh;
// 			margin: 6em 0;
// 		}

// 		span.product-showcase-vdo__text-peach {
// 			left: -10vw;
// 		}

// 		&-article {
// 			width: 42%;
// 		}
// 	}

// 	@media screen and (max-width: 800px) {
// 		&-article__img-container__bottom-decoration-peach {
// 			left: 32vw;
// 		}
// 	}
// 	@media screen and (max-width: 725px) {
// 		&-vdo,
// 		&-vdo-peach {
// 			width: 14em;

// 			&__text {
// 				right: 3em;
// 				top: -4em;
// 			}
// 			&__text-peach {
// 				left: -25vw !important;
// 				top: -4em;
// 			}
// 		}
// 	}

// 	@media screen and (max-width: 680px) {
// 		&-container {
// 			flex-direction: column;
// 			height: 133vh;
// 			margin: 4em 0;
// 		}

// 		&-article {
// 			width: 100%;

// 			&__paragraph {
// 				width: 90%;
// 			}

// 			&__img-container {
// 				width: 100%;

// 				&__top-decoration {
// 					right: -65vw;
// 					//  top: 8em;
// 					top: 4em;
// 					margin-right: 15vw;
// 				}
// 				&__top-decoration.peach {
// 					top: 4em;
// 				}
// 				&__bottom-decoration {
// 					bottom: 5em;
// 				}
// 				.product-showcase-article__img-container__bottom-decoration-peach {
// 					left: 64vw;
// 					bottom: 6em;
// 				}
// 			}
// 		}

// 		&-img-wrapper {
// 			width: 34%;
// 			position: relative;
// 			top: -5em;
// 		}
// 		&-vdo {
// 			left: 3vw;
// 			top: -3em;

// 			@media screen and (max-width: 480px) {
// 				left: -10%;
// 				top: -3em;
// 			}
// 		}
// 		&-vdo-peach {
// 			right: -64vw;
// 			top: -4em;
// 		}
// 		&-vdo__text-peach,
// 		&-vdo__text {
// 			font-size: 2.6vw;
// 			//    top: -5em;
// 		}
// 		&-vdo__text-peach {
// 			top: -4.5em;
// 		}
// 		div.primary__btn__product-showcase {
// 			margin: 0 auto;
// 		}

// 		article.product-showcase-article.peach {
// 			order: 1 !important;
// 		}
// 		aside.product-showcase-article__img-container.peach {
// 			order: 2 !important;
// 		}
// 	}

// 	@media screen and (max-width: 535px) {
// 		&-vdo-peach {
// 			right: -60vw;
// 		}
// 		&-vdo__text-peach {
// 			top: -5.4em;
// 		}
// 	}
// 	@media screen and (max-width: 450px) {
// 		&-vdo-peach {
// 			right: -50vw;
// 		}
// 	}
// }

// .popular {
// 	@media screen and (max-width: 780px) {
// 		&-header-content {
// 			flex-direction: column;
// 			justify-content: center;
// 			align-items: center;
// 		}

// 		&-navigation-number {
// 			position: static;
// 			margin-top: 1em;
// 		}

// 		&-card {
// 			width: 70vw;
// 			min-width: 24em;
// 			padding: 2em;

// 			&-article {
// 				width: 15em;
// 				padding: 0;
// 				padding-right: 1em;
// 			}

// 			&-header {
// 				font-size: 1.4rem;
// 			}

// 			&-paragraph {
// 				padding: 1em 0;
// 			}
// 			&-img-container {
// 				width: 11vh;
// 			}
// 		}
// 	}
// }

// .chart {
// 	@media screen and (max-width: 1215px) {
// 		&-number {
// 			text-align: center;
// 		}
// 	}

// 	@media screen and (max-width: 880px) {
// 		&-wrapper {
// 			width: 100%;
// 		}
// 	}

// 	@media screen and (max-width: 680px) {
// 		padding: 2em 1em;

// 		&-wrapper {
// 			justify-content: space-evenly;
// 			flex-direction: column;
// 		}

// 		&-chart {
// 			width: 61vw;
// 			min-width: 14em;
// 			padding: 0;
// 		}
// 		&-number {
// 			margin: 1em;
// 		}
// 		&-chart > img {
// 			width: 100%;
// 			min-width: 7em;
// 			padding: 1em 0.4em;
// 		}
// 		&-number-number {
// 			font-size: 7vw !important;
// 		}

// 		&-paragraph {
// 			font-size: 3vw;
// 			line-height: 1.4em;
// 		}

// 		p.chart-paragraph:last-child {
// 			width: 7em;
// 		}
// 	}
// }

.testimonial {
	@media screen and (max-width: 1428px) {
		&-cards_slide1 {
			padding: 0;
			margin: 0 1%;
		}
	}

	@media screen and (max-width: 1388px) {
		&-cards {
			width: 45vw;
			height: 22em;
			margin: 0 auto;
			position: relative;
			overflow-x: hidden;

			&_slide2 {
				transform: none;
				margin: 0;
				padding: 0;
			}
			@media screen and (max-width: 986px) {
				width: 56vw;
			}
			@media screen and (max-width: 680px) {
				width: 90vw;
			}
		}
		&-card {
			position: absolute;
			width: 41vw;
			// box-shadow: 0px 3px 3px 1px #d9d8d8;

			@media screen and (max-width: 986px) {
				margin: 0;
				width: 54vw;
			}
			@media screen and (max-width: 680px) {
				width: 88vw;
			}
			@media screen and (max-width: 480px) {
				margin-left: 0.4em;
			}
		}

		.chevron-container.testimonial-btns {
			position: relative;
			top: -28vh;
			@media screen and (max-width: 680px) {
				position: static;
			}
		}

		.fas.fa-chevron-right {
			right: 15vw;
			@media screen and (max-width: 990px) {
				right: 7%;
			}
			@media screen and (max-width: 680px) {
				position: relative !important;
				margin: 0 10vw;
			}
		}
		.fas.fa-chevron-left {
			left: 15vw;
			@media screen and (max-width: 990px) {
				left: 7%;
			}
			@media screen and (max-width: 680px) {
				position: relative !important;
				margin: 0 10vw;
			}
		}
		i.fas.fa-chevron-right,
		i.fas.fa-chevron-left {
			@include testimonialBtnBG;
			position: absolute;

			@media screen and (max-width: 680px) {
				margin: 0 3em;
				font-size: 1.2rem;
				// padding: 0.8em 1em;
			}
			@media screen and (max-width: 480px) {
				margin: 0 2em;
				font-size: 1.2rem;
				// padding: 0.8em 1em;
			}
			@media screen and (max-width: 380px) {
				margin: 0 1.5em;
				font-size: 1.2rem;
				// padding: 0.8em 1em;
			}
		}
	}

	// @media screen and (max-width: 500px) {
	// 	padding: 0;

	// 	&-cards {
	// 		padding: 0;
	// 	}

	// 	&-card {
	// 		width: 86vw;
	// 		border-radius: 0.4em;
	// 		&-quote-img__wrapper > img {
	// 			top: 6em;
	// 		}
	// 	}
	// }

	// @media screen and (max-width: 390px) {
	// 	&-card {
	// 		padding: 0.6em;

	// 		&-paragraph {
	// 			font-size: 4vw;
	// 			text-align: center;
	// 			padding: 0 0.6em;
	// 		}
	// 	}
	// }
	// @media screen and (max-width: 290px) {
	// 	&-card {
	// 		padding: 0.6em;
	// 		grid-template-columns: 5em 1fr;
	// 		&-quote-img__wrapper > img {
	// 			width: 18vw;
	// 			top: 8em;
	// 		}

	// 		&-img-stars {
	// 			margin-right: 2em;
	// 			justify-self: left;
	// 			align-self: center;
	// 		}
	// 		&-paragraph {
	// 			font-size: 4vw;
	// 			text-align: center;
	// 			padding: 0 0.6em;
	// 		}
	// 	}
	// }
}

.footer {
	@media screen and (max-width: 880px) {
		// padding: 2rem 1rem;

		&-links-container {
			// width: 100%;
		}
	}
	@media screen and (max-width: 680px) {
		// flex-direction: column;

		&-general {
			// margin-top: 2rem;
			// order: 2;
			// width: 100%;
			// padding: 1rem 3rem;
			&-content {
				// width: 100%;
			}
			&-paragraph {
				// font-size: 2.8vw;
			}
			&-social-media {
				// width: 27%;
			}
		}

		&-links {
			// width: 100%;

			&-container {
				// justify-content: space-around;
			}
		}
	}
	@media screen and (max-width: 480px) {
		&-general {
			// padding: 1rem;
			&-social-media {
				// width: 44%;
			}
			&-paragraph {
				// font-size: 3.6vw;
			}
		}

		&-links {
			// font-size: 3vw;
		}

		&-copyright {
			// font-size: 3vw;
		}
	}
	@media screen and (max-width: 380px) {
		&-links-header {
			// font-size: 5vw;
		}
		// font-size: 2vw;

		&-copyright {
			// font-size: 3vw;
		}
	}
}
