@mixin font-xs {
	font-size: 0.75rem; /* 12px */
	line-height: 1rem; /* 16px */
}

@mixin font-sm {
	font-size: 0.75rem; /* 12px */
	line-height: 1rem; /* 16px */
}

@mixin font-base {
	font-size: 1rem; /* 16px */
	line-height: 1.5rem; /* 24px */
}

@mixin font-xl {
	font-size: 1rem; /* 16px */
	line-height: 1.5rem; /* 24px */
}

@mixin font-2xl {
	font-size: 1.5rem; /* 24px */
	line-height: 2rem; /* 32px */
}

@mixin font-3xl {
	font-size: 1.875rem; /* 30px */
	line-height: 2.25rem; /* 36px */
}

@mixin font-4xl {
	font-size: 2.25rem; /* 36px */
	line-height: 2.5rem; /* 40px */
}

@mixin font-5xl {
	font-size: 3rem; /* 48px */
	line-height: 1;
}

@mixin font-6xl {
	font-size: 3.75rem; /* 60px */
	line-height: 1;
}

@mixin font-7xl {
	font-size: 4.5rem; /* 72px */
	line-height: 1;
}

@mixin font-8xl {
	font-size: 4.5rem; /* 72px */
	line-height: 1;
}

@mixin font-9xl {
	font-size: 8rem; /* 128px */
	line-height: 1;
}
