@use './helper-fontSizes' as fontSizes;

.hero-banner {
	// @include flexFunc(row, center, null);
	@include flexFunc(row, space-between, null);
	height: 90vh;

	@include fontLato;

	&-img-container {
		height: 100%;
		position: relative;
	}

	&-img-wrapper {
		opacity: 0.2;
		position: absolute;
		top: 6rem;
		left: -19rem;

		& > img {
			width: 38rem;
		}
	}

	&-content {
		z-index: 20;
		// @include borderTest;
		@include flexFunc(column, flex-start, null);
		margin-top: 5rem;
		padding: 1rem;
		width: 20rem;

		&-headers {
			@include flexFunc(column, null, center);
			// @include borderTest;
		}

		&-mini {
			&-headers {
				margin-bottom: 0.4rem;
				width: 100%;
			}
			&-border {
				width: 3rem;
				@include miniBorderline;
			}
		}

		&-header {
			padding: 0.2rem 0;
			// font-size: 4.8rem;
			font-weight: 300;
			// @include fontSizes.xl;
			line-height: 1;
		}

		&__header-highlighted {
			@include primaryColor;
			@include fontSizes.xl3;
			font-weight: 400;
		}

		&-paragraph {
			text-align: center;
			padding-right: 0.2rem;
			margin: 0.8rem 0;
			@include fontSizes.base;
			@include fontQuicksand;
		}

		&-actions-container {
			@include flexFunc(column, center, center);
		}

		&-price {
			font-size: 1.4rem;
			font-weight: bold;
			border-bottom: 1px solid rgb(144, 144, 144);

			text-align: center;
			width: 6rem;
			display: inline-block;
			padding: 0.8rem 0;
			margin: 0.8rem 0 0.2rem;
			@include fontLato;
		}

		&__product-category {
			// @include borderTest;
			@include flex;
			justify-content: space-between;

			margin-top: 4rem;

			&__content-header {
				@include fontSizes.xs;
			}
			&__content-text {
				@include primaryColor;
				font-weight: 600;
			}
		}
	}
}
