@use './helper-fontSizes' as fontSizes;

.header {
	@include flexFunc(row, space-between, center);
	padding: 0.8rem;
	height: 8vh;
	@include transition(0.5s);

	div.logo {
		> span.logo-text {
			font-size: 1.2rem;
			font-weight: bold;
		}
	}

	.nav {
		position: fixed;
		background-color: rgb(236, 234, 230);
		width: 100vw;
		left: -100vw;
		height: 100vh;
		top: 0;
		transition: all 0.4s ease-in-out;
		z-index: 10;

		.navlists {
			@include flex;
			flex-direction: column;
			justify-content: space-around;
			font-weight: 400;
			position: absolute;
			width: 100%;
			padding: 0.6rem;
			&-list {
				margin: 0.3rem 0;
				@include fontSizes.xl;
				font-size: 1.5rem;
				width: 100%;
				text-align: center;

				> a {
					transition: all 0.2s ease-in-out;
					width: 100%;
					display: inline-block;
					padding: 0.7rem 0.6rem;
					border-radius: 0.2rem;
				}

				> a:active {
					background-color: $primaryColor;
					color: white;
				}
			}
		}

		&-mobile-btn {
			padding: 0.4em;
			cursor: pointer;
			transition: all 0.2s ease-in-out;
			// background-color: #e0dfec;
			border-radius: 2px;
			opacity: 0.8;
			z-index: 20;

			> button {
				border: none;
				background-color: transparent;
				@include flex;
				@include transition(600);

				> i {
					@include fontSizes.lg;
					@include transition(600);
				}

				&:active {
					i {
						color: white;
					}
				}
			}
			// &:hover {
			// 	opacity: 1;
			// 	background-color: #b2b1c0;
			// 	color: rgb(255, 255, 255);
			// }

			&:active {
				background-color: $secondaryColor;
			}
			& i.fas.fa-bars {
				@include fontSizes.xl2;
			}

			& i.fa.fa-close {
				display: none;
				font-size: 1.5rem;
				position: relative;
				left: -0em;
			}
		}
	}

	&-actions {
		display: none;
		justify-content: space-between;
		width: auto;
		position: absolute;
		@include borderTest();
		& > img {
			width: 2em;
			margin: 0 0.6em;
		}

		&-searchbar {
			@include flex;
			padding: 0.2em 1em;
			justify-content: center;
			align-items: center;
			border-radius: 4px;
			transition: all 0.7s ease-in-out;
		}
		&-icon {
			width: 1.6em;
			opacity: 0.8;
			cursor: pointer;
			&:hover {
				opacity: 1;
			}
		}

		input {
			width: 17em;
			height: 1.8em;
			border: none;
			display: none;
			transition: all 0.7s ease-in-out;
			@media screen and (max-width: 680px) {
				width: 40vw;
			}
		}

		&-mobile {
			position: absolute;
			bottom: 10rem;
			width: 100%;
			@include flexFunc(row, center, center);
			&-searchbar {
				padding: 0.4rem;
				@include flexFunc(row, space-between, center);
				margin: 5rem 0.6rem;
				background-color: white;
				border-radius: 0.4rem;
				border: 1px solid rgb(177, 183, 183);
				> input {
					width: 100%;
					outline: none;
					border: none;
					padding: 0.2rem 0;
					appearance: none;
					@include fontSizes.xl;
				}

				> i {
					margin-left: 0.4rem;
					@include fontSizes.xl;
				}
				margin-bottom: 2rem;
			}

			&-btn {
				padding: 0.4rem;
				border: none;
				background: transparent;
				padding: 0.8rem;
				border-radius: 50%;
				margin: 0 0.8rem;
				cursor: pointer;

				> i {
					@include fontSizes.xl4;
					color: $fontColor;
				}

				&:active {
					background-color: $primaryColor;
					border-radius: 50%;
					color: whtie;
				}
			}
		}
	}
}

.searchbarActive {
	div.header-icon-searchbar {
		border: 1px solid rgb(168, 168, 168);
		background: white;
		box-shadow: inset 0px 1px 2px 1px #4c649d;
	}

	input {
		display: inline;
		animation: open 1s;
		outline: none;
	}
}

@keyframes open {
	from {
		width: 0;
	}
	to {
		width: 17vw;
	}
}

@media screen and (max-width: 680px) {
	@keyframes open {
		from {
			width: 0;
		}
		to {
			width: 40vw;
		}
	}
}

//mobile navigation

.navActive {
	div.nav-mobile-btn {
		> button > i.fas.fa-bars {
			display: none;
		}
		> button > i.fa.fa-close {
			display: inline-block;
		}
	}
	.nav {
		left: 0;
	}
}

.navStick {
	position: fixed;
	width: 100%;
	background: #f3eeebf8;
	height: 10vh;
	z-index: 2;
}
