.popular {
	margin: 2rem 0 4rem;
	padding: 1rem 3vw;
	// @include borderTest;
	&-header-content {
		// padding: 1rem 0.4rem;
		text-align: center;
	}

	&-navigation-number {
		padding: 0.8rem;
		// @include borderTest;
	}
	&-nav-number {
		padding: 0.8rem;
		opacity: 0.6;
		@include fontQuicksand;
		@include transition(0.4s);
		&__border {
			width: 2rem;
			height: 0.5rem;
			display: inline-block;
			border-top: 2px solid $fontColor;
			opacity: 0.2;
			@include transition(0.4s);
		}
	}

	&-cards {
		@include flex;
		margin: 4rem 0;

		&__slider {
			@include flexFunc(row, center, null);
			@include transition(0.4s);
		}
	}

	&-card {
		@include flexFunc(column, space-between, center);
		border-radius: 0.4rem;
		width: 80vw;

		cursor: pointer;
		//   &:hover {
		//    box-shadow: 0px 8px 10px 1px silver;
		//   }
		@include cardShadow;
		// @include borderTest;
		margin: 0 0.8rem;
		padding: 1rem 0.8rem;
		&-description-container {
			// width: 16rem;
			padding: 1rem 0;
			// @include borderTest;
			text-align: center;
		}

		&-header,
		&-paragraph {
			margin-bottom: 0.6rem;
		}
		&-img-container {
			width: 15vh;
			& > img {
				width: 100%;
			}
		}
	}
}

.nav-number-active {
	font-size: 1.2rem;
	opacity: 1;
}

.border-active {
	opacity: 0.7;
}
