@use './helper-fontSizes' as fontSizes;

.product-showcase {
	&-container {
		padding: 0 1rem;
		margin: 3rem 0;
	}
	@include borderTest;

	&-description {
		&__btn-container {
			text-align: center;
		}
		&-headers {
			// @include borderTest;
		}

		&__mini-header {
			@include primaryColor;
			font-weight: 600;
			letter-spacing: 1px;
			// margin-bottom: 1rem;
			width: 100%;
		}

		&-header {
			margin: 0.4rem 0;
			text-align: center;
		}

		&-paragraph {
			// margin-bottom: 3rem;
			margin: 1rem 0;
			text-align: center;
		}

		&.peach {
			// order: 2;
		}
		&__img-container.peach {
			// order: 1;
		}
	}

	&__img-content-wrapper {
		position: relative;
	}

	&__img-container {
		@include borderTest;

		&__top-frame {
			@include borderTest;
			width: 6rem;
			display: inline-block;
			height: 8rem;
			position: absolute;
			right: 0;
			border-top: 2px solid $primaryColor;
			border-right: 2px solid $primaryColor;
		}

		&__top-frame .peach {
			// top: 13rem;
			// left: 0vw;
			border-top: 2px solid $peachColor;
			border-left: 2px solid $peachColor;
			border-right: none;
		}
		&__top-frame .blackberry {
			border-top: 2px solid $secondaryColor;
			border-right: 2px solid $secondaryColor;
		}

		&__bottom-frame,
		&__bottom-frame .peach {
			width: 6rem;
			display: inline-block;
			height: 8rem;
			position: absolute;
			bottom: 0;
		}
		&__bottom-frame {
			// bottom: 4rem;
			border-bottom: 2px solid $primaryColor;
			border-left: 2px solid $primaryColor;
		}
		&__bottom-frame .peach {
			border-bottom: 2px solid $peachColor;
			border-right: 2px solid $peachColor;
			border-left: none;
			// right: -35vw;
		}

		&__bottom-frame .blackberry {
			border-bottom: 2px solid $secondaryColor;
			border-left: 2px solid $secondaryColor;
		}
	}

	&-img-wrapper {
		width: 16vw;
		margin: 0 auto;
		@include transition(1s);
		cursor: pointer;
		&:hover {
			transform: scale(1.2);
		}
	}
	&-img {
		width: 100%;
	}

	&-vdo,
	&-vdo-peach {
		width: 8rem;
		height: 8rem;
		text-align: center;
		position: relative;
		top: 4rem;

		&-peach {
			right: -28vw;
		}
		&__play-btn {
			padding: 3rem;
			//    top: -0.5rem;
			//    position: relative;
			border: 1px dashed $primaryColor;
			border-radius: 50%;
			cursor: pointer;
			@include transition(0.2s);
			&:hover {
				animation: rotateRight 13s ease-in-out;
				border-width: 3px;
				.product-showcase-vdo__text {
					display: none;
				}
			}
		}

		&__text,
		&__text-peach {
			position: relative;
			right: -6rem;
			top: -5rem;
			font-weight: 600;
			@include primaryColor;
		}
	}
}

//all animation for this section

@keyframes rotateRight {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes rotateNone {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}
